/* GLOBAL STYLE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL CSS VARIABLES */
:root {
  --mainBlue: #1d03b6;
  --darkBlue: #0b023b;
  --mainWhite: #fff;
  --mainGray: #aaa9a9;
}
/* END OF GLOBAL CSS VARIABLES */
/* END OF GLOBAL STYLE */

/* ******************************************************* */

/* HEADER STYLES */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--mainBlue);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.top-mall-logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainWhite);
  border-radius: 50%;
}

.main-header img {
  width: 30px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  /* background-color: green; */
  position: relative;
}

.search-bar input {
  background-color: var(--mainWhite);
  padding: 10px 10px 10px 50px;
  border: none;
  border-radius: 50px;
  width: 100%;
  font-size: 15x;
}

.search-bar input:focus {
  /* border: solid 2px green; */
  outline: none;
  /* background-color: red; */
}

.search-icon {
  font-size: 20px;
  color: var(--mainGray);
  position: absolute;
  left: 10px;
}

.help-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}

.help-icon {
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  margin-left: 10px;
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DESKTOP SCREEN FOR HEADER */
@media screen and (min-width: 800px) {
  .main-header img {
    width: 40px;
  }

  .top-mall-logo {
    width: 50px;
    height: 50px;
  }

  .search-bar {
    width: 50%;
  }

  .search-icon {
    font-size: 25px;
  }

  .search-bar input {
    font-size: 20px;
    padding-left: 70px;
  }

  .help-user {
    font-size: 30px;
  }

  .help-icon {
    width: 45px;
    height: 45px;
  }

  .user-icon {
    margin-left: 30px;
    width: 45px;
    height: 45px;
  }
}
/* END OF DESKTOP SCREEN FOR HEADER */

/* END OF HEADER STYLES */

/* ******************************************************* */

/* PAGE CONTENT STYLES */

.page-content {
  width: 100vw;
  margin-top: 50px;
  background-color: yellow;
}

/* DESKTOP STYLES FOR PAGE CONTENT */
@media screen and (min-width: 800px) {
  .page-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
/* END OF DESKTOP STYLES FOR PAGE CONTENT */

/* CATEGORIES STYLES */
.category-div {
  background-color: var(--mainWhite);
  display: none;
}

.category:hover {
  padding-left: 30px;
  background-color: var(--mainBlue);
  color: var(--mainGray);
}

/* DESKTOP STYLES FOR CATEGORIES */
@media screen and (min-width: 800px) {
  .category-div {
    display: flex;
    flex-direction: column;
  }

  .category {
    line-height: 60px;
    font-size: 110%;
    border-top: solid 2px var(--mainBlue);
    border-bottom: solid 2px gray;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
    color: var(--mainBlue);
    background-color: var(--mainGray);
  }
}
/* END OF DESKTOP STYLES FOR CATEGORIES */

/* END OF CATEGORIES STYLES */

/* ******************************************************* */

/* MAIN CONTENT STYLES */
.main-content {
  width: 100%;
  background-color: green;
}

/* CONTENT HEAD STYLES */

.content-head {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding-top: 5px;
}

.content-head-image {
  width: 95%;
}

.content-head-image img {
  width: 100%;
  border-radius: 20px;
}

/* END OF CONTENT HEAD STYLES */

/* DESKTOP STYLES FOR MAIN CONTENT */
@media screen and (min-width: 800px) {
  .main-content {
    width: 100%;
  }

  .content-head-image {
    width: 98%;
  }
}

/* END OF DESKTOP STYLES FOR MAIN CONTENT */

/* PRODUCT LIST STYLES */
.product-list {
  width: 100%;
  /* height: 100px; */
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px 5px;
}

.product-container {
  background-color: yellow;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--darkBlue);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-container:hover {
  /* background-color: blue; */
  border: solid 2px var(--darkBlue);
}

.product-image {
  background-color: var(--mainWhite);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product-details {
  /* background-color: green; */
}

.product-container img {
  width: 70%;
}

.product-name {
  color: var(--darkBlue);
}

.product-category {
  color: red;
  font-size: 10px;
  font-weight: 600;
}

.product-price {
  color: var(--mainBlue);
  font-weight: 900;
}

.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  color: var(--mainGray);
}

/* TAB AND DESKTOP SCREENS FOR PRODUCTS LIST */
@media screen and (min-width: 360px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* END OF TAB AND DESKTOP SCREENS FOR PRODUCTS LIST */
/* END OF PRODUCT LIST STYLES */

/* END OF MAIN CONTENT STYLES */

/* ******************************************************* */

/* FILTER STYLES */
.filter-div {
  background-color: blue;
  display: none;
}

/* DESKTOP STYLES FOR FILTERS */
@media screen and (min-width: 800px) {
  .filter-div {
    display: flex;
  }
}
/* END OF DESKTOP STYLES FOR FILTERS */
/* END OF FILTER STYLES */

/* ******************************************************* */

/* END OF PAGE CONTENT STYLES */

/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
