/* GLOBAL STYLE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL CSS VARIABLES */
:root {
  --lightBlue: #b4a7fd;
  --mainBlue: #1d03b6;
  --darkBlue: #0b023b;
  --mainWhite: #fff;
  --mainGray: #aaa9a9;
  --mainYellow: #e6c301;
}
/* END OF GLOBAL CSS VARIABLES */
/* END OF GLOBAL STYLE */

/* ******************************************************* */

/* HEADER STYLES */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--mainBlue);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.top-mall-logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainWhite);
  border-radius: 50%;
}

.main-header img {
  width: 30px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  /* background-color: green; */
  position: relative;
}

.search-bar input {
  background-color: var(--mainWhite);
  padding: 10px 10px 10px 50px;
  border: none;
  border-radius: 50px;
  width: 100%;
  font-size: 15x;
}

.search-bar input:focus {
  /* border: solid 2px green; */
  outline: none;
  /* background-color: red; */
}

.search-icon {
  font-size: 20px;
  color: var(--mainGray);
  position: absolute;
  left: 10px;
}

.help-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}

.help-icon {
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  margin-left: 10px;
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loggedin-user-icon {
  display: none;
  justify-content: center;
  align-items: center;
}

.not-loggedin-icon {
  display: flex;
}

/* DESKTOP SCREEN FOR HEADER */
@media screen and (min-width: 800px) {
  .main-header img {
    width: 40px;
  }

  .top-mall-logo {
    width: 50px;
    height: 50px;
  }

  .search-bar {
    width: 50%;
  }

  .search-icon {
    font-size: 25px;
  }

  .search-bar input {
    font-size: 20px;
    padding-left: 70px;
  }

  .help-user {
    font-size: 30px;
  }

  .help-icon {
    width: 45px;
    height: 45px;
  }

  .user-icon {
    margin-left: 30px;
    width: 45px;
    height: 45px;
  }
}
/* END OF DESKTOP SCREEN FOR HEADER */

/* USER OPTIONS STYLES */
.user-options {
  background-color: var(--mainWhite);
  /* padding: 10px; */
  position: absolute;
  right: 10px;
  top: 45px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px var(--darkBlue);
  width: 150px;
  display: none;
  flex-direction: column;
}

.cart-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  border-bottom: solid 2px var(--mainBlue);
  padding: 10px;
}

/* .cart-overview-no {
  cursor: pointer;
} */

.item-in-cart {
  position: absolute;
  color: var(--mainWhite);
  left: 17px;
  top: 21px;
  z-index: 8;
  background-color: var(--mainBlue);
  height: 10px;
  width: fit-content;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  font-size: 20px;
  color: var(--mainBlue);
}

.goto-cart button {
  padding: 5px 10px;
  background: none;
  border-radius: 5px;
  font-weight: 900;
  border: solid 1px var(--mainBlue);
  color: var(--mainBlue);
  cursor: pointer;
}

.goto-cart button:hover {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
}

.goto-profile {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px var(--lightBlue);
  border-bottom: solid 2px var(--mainBlue);
  color: var(--mainBlue);
  cursor: pointer;
}

.goto-profile h4:hover {
  transform: scale(1.2);
}

.log-out {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px var(--lightBlue);
  color: red;
  cursor: pointer;
}

.log-out h4:hover {
  transform: scale(1.2);
}
/* END OF USER OPTIONS STYLES */

/* END OF HEADER STYLES */

/* ******************************************************* */

/* LOGIN AND REGISTER STYLES */
.login-reg-container {
  position: absolute;
  background-color: var(--mainWhite);
  width: 70%;
  height: fit-content;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 7px var(--mainBlue);
  padding: 5px;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.close-login-reg {
  position: absolute;
  background-color: red;
  color: var(--mainWhite);
  font-size: 25px;
  font-weight: 900;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  right: 0;
  top: 0;
}

.login-div {
  padding: 20px 10px;
  background-color: var(--darkBlue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-head,
.register-head {
  color: var(--mainWhite);
}

.email-container,
.pass-container,
.name-container,
.phone-container {
  width: 80%;
  position: relative;
  margin: 10px 0;
}

.email-icon,
.pass-icon,
.name-icon,
.phone-icon {
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  position: absolute;
  font-size: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.login-div input,
.register-div input {
  width: 100%;
  padding: 5px 5px 5px 40px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.login-div input:focus,
.regsiter-div input:focus {
  outline: solid 1px var(--mainBlue);
}

.login-div button,
.register-div button {
  width: 80%;
  font-size: 15px;
  font-weight: 900;
  padding: 5px 0;
  border: none;
  color: var(--mainBlue);
  border-radius: 5px;
  margin: 10px 0;
}

.register-div {
  padding: 20px 10px;
  background-color: var(--darkBlue);
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goto-register,
.goto-login {
  color: var(--mainWhite);
  margin: 20px;
}

.goto-login span,
.goto-register span {
  color: var(--mainYellow);
  font-weight: 900;
  cursor: pointer;
}

/* TAB AND DESKTOP SCREENS FOR LOGIN AND REGISTER CONTAINER */
@media screen and (max-width: 360px) {
  .login-reg-container {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  .login-reg-container {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .login-reg-container {
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .login-reg-container {
    width: 40%;
  }
}
/* END OF TAB AND DESKTOP SCREENS FOR LOGIN AND REGISTER CONTAINER */
/* END OF LOGIN AND REGISTER STYLES */

/* ******************************************************* */

/* PAGE CONTENT STYLES */

.page-content {
  width: 100vw;
  margin-top: 50px;
  /* background-color: yellow; */
}

/* DESKTOP STYLES FOR PAGE CONTENT */
@media screen and (min-width: 800px) {
  .page-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 60px;
  }
}
/* END OF DESKTOP STYLES FOR PAGE CONTENT */

/* CATEGORIES STYLES */
.category-div {
  background-color: var(--mainWhite);
  display: none;
}

.category:hover {
  padding-left: 30px;
  background-color: var(--mainBlue);
  color: var(--mainGray);
}

/* DESKTOP STYLES FOR CATEGORIES */
@media screen and (min-width: 800px) {
  .category-div {
    display: flex;
    flex-direction: column;
  }

  .category {
    line-height: 60px;
    font-size: 110%;
    border-top: solid 2px var(--mainBlue);
    border-bottom: solid 2px gray;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
    color: var(--mainBlue);
    background-color: var(--mainGray);
  }
}
/* END OF DESKTOP STYLES FOR CATEGORIES */

/* END OF CATEGORIES STYLES */

/* ******************************************************* */

/* MAIN CONTENT STYLES */
.main-content {
  width: 100%;
  /* background-color: green; */
}

/* CONTENT HEAD STYLES */

.content-head {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding-top: 5px;
}

.content-head-image {
  width: 95%;
}

.content-head-image img {
  width: 100%;
  border-radius: 20px;
}

/* END OF CONTENT HEAD STYLES */

/* DESKTOP STYLES FOR MAIN CONTENT */
@media screen and (min-width: 800px) {
  .main-content {
    width: 100%;
  }

  .content-head-image {
    width: 98%;
  }
}

/* END OF DESKTOP STYLES FOR MAIN CONTENT */

/* PRODUCT LIST STYLES */
.product-list {
  width: 100%;
  /* height: 100px; */
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px 5px;
}

.product-container {
  background-color: var(--mainYellow);
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--darkBlue);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-container:hover {
  /* background-color: blue; */
  border: solid 2px var(--darkBlue);
}

.product-image {
  background-color: var(--mainWhite);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* .product-details {
  background-color: green;
} */

.product-container img {
  width: 70%;
}

.product-name {
  color: var(--darkBlue);
}

.product-category {
  color: red;
  font-size: 10px;
  font-weight: 600;
}

.product-price {
  color: var(--mainBlue);
  font-weight: 900;
}

.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  color: var(--mainGray);
}

/* TAB AND DESKTOP SCREENS FOR PRODUCTS LIST */
@media screen and (max-width: 360px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* END OF TAB AND DESKTOP SCREENS FOR PRODUCTS LIST */
/* END OF PRODUCT LIST STYLES */

/* END OF MAIN CONTENT STYLES */

/* ******************************************************* */

/* FILTER STYLES */
.filter-div {
  background-color: blue;
  display: none;
}

/* DESKTOP STYLES FOR FILTERS */
@media screen and (min-width: 800px) {
  .filter-div {
    display: flex;
  }
}
/* END OF DESKTOP STYLES FOR FILTERS */
/* END OF FILTER STYLES */

/* ******************************************************* */

/* END OF PAGE CONTENT STYLES */

/* ******************************************************* */

/* ERROR ALERT STYLES */
.error-alert {
  background-color: var(--mainWhite);
  min-width: 150px;
  max-width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 7px var(--darkBlue);
  z-index: 5;
}

.error-msg {
  margin: 20px 0;
  display: flex;
}

.error-icon {
  display: inline;
  color: red;
  margin-right: 5px;
}

.success-icon {
  display: inline;
  color: green;
  margin-right: 5px;
}

.error-alert h4 {
  color: red;
  display: inline;
}

.error-alert button {
  width: 100px;
  font-weight: 900;
  color: var(--mainWhite);
  background-color: red;
  border: none;
  padding: 5px 0;
  border-radius: 5px;
  /* margin-top: 30px; */
}
/* END OF ERROR ALERT STYLES */

/* ******************************************************* */

/* PRODUCT DETAILS STYLE */
.product-full-details {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: var(--mainGray);
  display: none;
  flex-direction: column;
}

.product-details-head {
  background-color: var(--mainBlue);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: var(--mainWhite);
}

.product-full-details .back-arrow {
  font-size: 20px;
  margin-right: 30px;
}

.product-details-image {
  width: 100%;
  background-color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  border-radius: 20px;
  margin: 10px 0;
}

.product-details-image img {
  width: 70%;
}

.product-details-price {
  font-size: 40px;
  color: var(--mainBlue);
  padding: 5px 10px;
}

.product-details-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  font-size: 30px;
  width: 100%;
}

.product-details-action .add-to-cart,
.add-to-like {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--mainWhite);
}

.add-to-cart:hover,
.add-to-like:hover {
  background-color: var(--mainYellow);
  color: black;
}
/* END OF PRODUCT DETAILS STYLE */

/* ******************************************************* */

/* CART ITEMS STYLES */
.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  padding: 10px;
}

.back-from-cart {
  margin-right: 20px;
  font-size: 25px;
}
/* END OF CART ITEMS STYLES */

/* ******************************************************* */

/* PROFILE STYLES */
.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  padding: 10px;
}

.back-from-profile {
  margin-right: 20px;
  font-size: 25px;
}
/* END OF PROFILE STYLES */

/* ******************************************************* */
/* ******************************************************* */
